<header>
    <nav>
        <div class="heading">
            <p>Track bug/issue for your Projects</p>
            <a id="home" href="http://localhost:3000/"><i class="fa fa-house style="font-size:20px"></i> Home</a>
                <a id="createProject" href="/project/createproject"><i class="fa fa-plus-square" style="font-size:20px"></i> Create Project</a>
        </div>
    </nav>
</header>