<!-- creating new project -->
<div id="createProject">
    <div class="create-box">
        <h2>Create New Project</h2>
        <form action="/project/create" method="post">
            <div class="user-input">
                <input type="text" name="project_name" id="" required>
                <label>Name of project</label>
            </div>
            <div class="user-input">
                <input type="text" name="project_description" id="" required>
                <label>Description of project</label>
            </div>
            <div class="user-input">
                <input type="text" name="project_creator" id="" required>
                <label>Project creator</label>
            </div>
            <a href="#">
            <input type="submit" value="Create a project">
            </a>
        </form>       
      </div>
</div>