// main layout 
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #8db0d8;
    overflow: hidden; 
    
#main{
    .border{
        padding: 400px;
        background: linear-gradient(30deg, #b337e4 17%, rgba(94, 230, 119, 0.75) 36%, #5aac69 47%, #55e2e7 51%, rgba(90, 172, 105, 0.75) 70%, #9ae965 90%);
        border-radius: 40%;
        opacity: 80%; 
    }
    .frame {
        position: absolute;
        display: flex;
        top: 12%;
        left: 7%;
        height: 550px;
        width: 86%;
        margin-inline: auto;
        border-radius: 20px;
        overflow: scroll;
        scrollbar-width: 0px;
        background: radial-gradient(circle at 50% 50%, #95d4e4 0%, #7febc7 46%, #a0ec9e 100%);
        box-shadow: 13px 13px 17px #5c4501, -1px -1px 17px #ffff05;
        font-family: 'Indie Flower', cursive;
      }
      .frame::-webkit-scrollbar {
        display: none;
    }
}
}
